<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.chooloo.www.koler">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MANAGE_OWN_CALLS" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="audioid.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.USE_BIOMETRIC" />

    <application
        android:name="com.chooloo.www.koler.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/KolerTheme"
        android:windowSoftInputMode="adjustResize"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <!--region activities-->
        <activity
            android:name="com.chooloo.www.koler.ui.main.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/KolerTheme.NoActionBar">

            <!--region intent-filters-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.DIAL" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tel" />
            </intent-filter>
            <!--endregion-->
        </activity>

        <activity
            android:name="com.chooloo.www.koler.ui.call.CallActivity"
            android:label="@string/activity_call"
            android:screenOrientation="portrait"
            android:theme="@style/KolerTheme.NoActionBar" />

        <activity
            android:name="com.chooloo.www.koler.ui.settings.SettingsActivity"
            android:label="@string/activity_settings" />

        <activity
            android:name="com.chooloo.www.koler.ui.about.AboutActivity"
            android:label="@string/activity_about" />

        <activity
            android:name=".util.permissions.PermissionsActivity"
            android:label="@string/activity_permissions" />
        <!--endregion-->

        <!--region services-->
        <service android:name="com.chooloo.www.koler.service.RecordService" />
        <service
            android:name="com.chooloo.www.koler.service.CallService"
            android:permission="android.permission.BIND_INCALL_SERVICE">
            <meta-data
                android:name="android.telecom.IN_CALL_SERVICE_UI"
                android:value="true" />
            <intent-filter>
                <action android:name="android.telecom.InCallService" />
            </intent-filter>
        </service>
        <!--endregion-->

        <!--region metadatas-->
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
        <!--endregion-->

        <!--region receivers-->
        <receiver android:name="com.chooloo.www.koler.notification.NotificationActionReceiver">
            <intent-filter>
                <action android:name="ANSWER" />
                <action android:name="HANGUP" />
            </intent-filter>
        </receiver>
        <!--endregion-->
    </application>

</manifest>